html {
  background-color: aqua;
}

.minutes-container,
.hours-container,
.seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clock {
  border: 10px solid whitesmoke;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hours {
  border-left: 6px solid black;
  height: 30%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 20%;
}

.minutes {
  border-left: 6px solid black;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}

.seconds {
  border-left: 6px solid black;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
  transform-origin: 100%;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}
